/**
 * Medium button size is default
 */



.button{
	outline: none;
	display: inline-block;
	border: solid 1px transparent;
	padding: 8px 12px;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	@include transition(ease, background-color, .2s);
	font-size: 14px;
	font-family: 'Source Sans Pro',sans-serif;
	margin: 2px;
	@include border-radius(3px);
	@include select();

	&.square{
		@include border-radius(0px);
	}

	&.active-fill{
		@each $name, $code in $colors {
			&.#{$name}:active{
				background-color: $code !important;
				color: white;
			}
		}
	}

	&.loading{
		@each $name, $code in $colors {
			&.#{$name}{
				background-color: lighten($code, 5%) !important;
				border-color: lighten($code, 3%);
				color: white;
			}
		}
	}

	@each $size in $sizes {
		$i: index($sizes, $size);
		&.#{$size}{
			padding: ($pixel * $i * $i) (($pixel * $i * $i) + 4);
		}
	}

	@each $name, $code in $colors {
		&.#{$name}{
			background-color: $code;
			@if $name == white {
				color: black;
			}
			@else {
				color: white;
			}
			border-color: darken($code, 2%);

			&:hover:not(.active){
				background-color: darken($code, 5%);
			}
		}
	}

	&.full{
		width: 100%;
	}

	&.outline{
		@each $name, $code in $colors {
			&.#{$name}{
				background-color: #fff;
				color: $code;
				border-color: darken($code, 2%);

				&:hover{
					background-color: darken(#fff, 5%);
				}
			}
		}
	}

	&.condensed{
		margin: 0;
		border: none;
	}
}