$blue: #2D8BBE;
$green: #28cb75;
$lime: #92EE2F;
$orange: #FFB359;
$pink: #ED528B;
$samon: #FF7E59;
$red: #FF3732;
$black: #333;
$grey: #eff2f7;
$white: #fff;

$colors: (
	(blue, $blue),
	(green, $green),
	(lime, $lime),
	(orange, $orange),
	(pink, $pink),
	(samon, $samon),
	(red, $red),
	(black, $black),
	(grey, $grey),
	(white, $white)
);