$columns: one two three four five six seven eight nine ten eleven twelve;

.row {
	display: inline-table;
	width: 100%;
	
	.column {
		display: inline-block;
		float: left;
		min-height: 10px;

		@each $size in $columns {
			$i: index($columns, $size);
			$width: percentage($i / 12);
			&.#{$size}{
				width: $width;
			}
		}
	}
}

.padding{
	padding-top: 10px;
	@each $size in $columns {
		$i: index($columns, $size);
		&.#{$size}{
			padding-top: (($i / 12) * 100px);
		}
	}
}