p{
	padding: 7px;

	&.condensed{
		padding: 0;
		margin: 0;
	}
}

.margin{
	margin: 8px 7px;
}

.bold{
	font-weight: bold;
}

.italic{
	font-style: italic;
}

.highlight{
	background-color: yellow;
	@include border-radius(2px);

	@each $name, $code in $colors {
		&.#{$name}{
			background-color: lighten($code, 20%);
		}
	}
}

.left-align{
	text-align: left;
}

.right-align{
	text-align: right;
}

.underline{
	background-color: transparent;
	border-bottom: solid 2px yellow;
	@each $name, $code in $colors {
		&.#{$name}{
			border-bottom-color: lighten($code, 20%);
		}
	}
}

a{
	color: $blue;
}

$header-list: h1 h2 h3 h4 h5 h6;

@each $name in $header-list {
	$i: index($header-list, $name);
	#{$name}{
		@if $name == h1{
			font-size: 36px;
		}
		@elseif $name == h2{
			font-size: 30px;
		}
		@elseif $name == h3{
			font-size: 24px;
		}
		@elseif $name == h4{
			font-size: 18px;
		}
		@elseif $name == h5{
			font-size: 14px;
		}
		@elseif $name == h6{
			font-size: 12px;
		}
		margin: (2rem - (($i / 6) * 2)) 0 (1.6rem - (($i / 6) * 2)) 0;
		font-weight: 400;

		&.condensed{
			margin: 0;
		}
	}
}

blockquote{
	border-left: solid 5px transparent;
	margin: 8px;
	padding: 6px;
	padding-left: 20px;
	font-size: 1.2rem;

	@each $name, $code in $colors {
		&.#{$name}{
			border-left-color: $code;
		}
	}

	.author{
		display: block;
    padding-left: 50px;
    padding-top: 12px;
    font-size: 14px;

    &:before{
    	content: 'By - ';
    }
	}
}